/**
 * main css
 * author: Calefy (clfsw0201@gmail.com)
 * create: 2012-3-1
 * description: 
 */

/* reset */
html{min-height:100%;
	-webkit-box-shadow:inset 0 100px 200px rgba(0,0,0,.1);
	-moz-box-shadow:inset 0 100px 200px rgba(0,0,0,.1);
	box-shadow:inset 0 100px 200px rgba(0,0,0,.1);
}
body{padding:0 1em 1em;margin:0;color:#555;font:75%/1.8 tahoma,arial,sans-serif;background:#f0f0f0/* url(images/body_bg.png) repeat*/;}

time{font-size:13px;color:#999;}
a, a code{color:#246d45;text-decoration:none;}
a:hover{color:#208e51;text-decoration:underline;}

.l{float:left;}.r{float:right;}
.fix{zoom:1;}
.fix:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

/* layout */
#wrap{width:1000px;margin: 0 auto;}
#content{zoom:1;font-size:1.15em;}
#content:after{content:"";display:block;height:0;clear:both;visibility:hidden;}

	/* header */
#header{overflow:hidden;position:relative;padding:10px 0;margin-bottom:20px;border-bottom:2px double #d3d2d2;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.7);	
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.7);
	box-shadow:0 1px 0 rgba(255,255,255,.7);
}
#header .mark-words{position:absolute;top:10px;left:20px;font-style:italic;}
.logo-area{float:right;}
.logo-area a:hover{text-decoration:none;}
.logo-area h1{float:right;font-size:35px;font-family:"Microsoft Yahei";padding:0 10px 0 20px;border:none;
	-webkit-text-shadow:0 0 1px rgba(0,0,0,.9), 3px -2px 5px rgba(0,0,0,.9);
	-moz-text-shadow:0 0 1px rgba(0,0,0,.9), 3px -2px 5px rgba(0,0,0,.9);
	text-shadow:0 0 1px rgba(0,0,0,.9), 3px -2px 5px rgba(0,0,0,.9);
}
.logo-area h1 a{color:#fdfeff;}
.logo-area p{float:left;font-size:15px;text-align:right;padding-right:20px;border-right:2px double #666;
}
.navigation{padding:40px 0 0;}
.navigation ul{list-style:none;padding:0;margin:0;}
.navigation li{float:left;margin:0;padding:10px 20px;font-size:16px;font-family:"Microsoft Yahei";
}

	/* footer */
#footer{overflow:hidden;position:relative;margin-top:30px;border-top:1px solid #d3d2d2;
	-webkit-box-shadow:0 -1px 0 rgba(255,255,255,.7);	
	-moz-box-shadow:0 -1px 0 rgba(255,255,255,.7);
	box-shadow:0 -1px 0 rgba(255,255,255,.7);
}


	/* 正文主体 */
#related,
#post{padding:1em 1.5em;border: 1px solid #d3d2d2;
	background-color:#f6f6f6;
	-webkit-box-shadow:inset 0 0 1px #fff, inset 0 0 3px #fff;
	-moz-box-shadow:inset 0 0 1px #fff, inset 0 0 3px #fff;
	box-shadow:inset 0 0 1px #fff, inset 0 0 3px #fff;
}
#related{float:right;width:200px;padding:0 1em 1em;}
#related h3{color:#034e24;
	-webkit-box-shadow:0 1px 0 rgba(255,255,255,.7);	
	-moz-box-shadow:0 1px 0 rgba(255,255,255,.7);
	box-shadow:0 1px 0 rgba(255,255,255,.7);
}
#related ul{margin-left:0;padding-left:0;list-style:none;}
#related li{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;padding-bottom:5px;border-bottom:1px solid #ddd;}
#post{margin-right:245px;}
#post h3{border-bottom:none;}

#post.fullscreen{margin:0 auto;width:1000px;}
.icon-fullscreen{display:inline-block;width:24px;height:24px;background:url(images/fullscreen.png) no-repeat;}
.icon-fullscreen:hover{background-position:-24px 0;}
.icon-fullscreen.expand{background-position:0 -24px;}
.icon-fullscreen.expand:hover{background-position:-24px -24px;}
