html {
	background:#fff;
	margin:0;
	padding:1em;
}
body {
	font: 13.34px helvetica,arial,freesans,clean,sans-serif;
	line-height: 1.4em;
	line-height: 1.5;
	margin: 0;
	padding:.7em;
	text-align:left;
	color: black;
	width:920px;
	background-color: white;
	border: 1px solid #CACACA;
	border-radius:3px;
}
